@model DpApiClient.Data.Doctor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorFacilities)
        </dt>

        <dd>
            @String.Join(", ", Model.DoctorFacilities.Select(f => f.Facility.Name))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializations)
        </dt>

        <dd>
            @String.Join(", ", Model.Specializations.Select(s => s.Name))
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
